@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --md-sys-color-primary: 9 20 38;
    --md-sys-color-surface-tint: 84 95 115;
    --md-sys-color-on-primary: 255 255 255;
    --md-sys-color-primary-container: 30 41 59;
    --md-sys-color-on-primary-container: 133 144 166;
    --md-sys-color-secondary: 81 96 114;
    --md-sys-color-on-secondary: 255 255 255;
    --md-sys-color-secondary-container: 148 163 184;
    --md-sys-color-on-secondary-container: 43 57 75;
    --md-sys-color-tertiary: 0 89 187;
    --md-sys-color-on-tertiary: 255 255 255;
    --md-sys-color-tertiary-container: 0 112 234;
    --md-sys-color-on-tertiary-container: 254 252 255;
    --md-sys-color-error: 186 26 26;
    --md-sys-color-on-error: 255 255 255;
    --md-sys-color-error-container: 255 218 214;
    --md-sys-color-on-error-container: 147 0 10;
    --md-sys-color-background: 251 248 250;
    --md-sys-color-on-background: 27 27 29;
    --md-sys-color-surface: 251 248 250;
    --md-sys-color-on-surface: 27 27 29;
    --md-sys-color-surface-variant: 225 226 233;
    --md-sys-color-on-surface-variant: 69 71 76;
    --md-sys-color-outline: 117 119 125;
    --md-sys-color-outline-variant: 197 198 205;
    --md-sys-color-shadow: 0 0 0;
    --md-sys-color-scrim: 0 0 0;
    --md-sys-color-inverse-surface: 48 48 50;
    --md-sys-color-inverse-on-surface: 243 240 242;
    --md-sys-color-inverse-primary: 188 199 222;
    --md-sys-color-primary-fixed: 216 227 251;
    --md-sys-color-on-primary-fixed: 17 28 45;
    --md-sys-color-primary-fixed-dim: 188 199 222;
    --md-sys-color-on-primary-fixed-variant: 60 71 90;
    --md-sys-color-secondary-fixed: 212 228 250;
    --md-sys-color-on-secondary-fixed: 13 28 45;
    --md-sys-color-secondary-fixed-dim: 185 200 222;
    --md-sys-color-on-secondary-fixed-variant: 57 72 90;
    --md-sys-color-tertiary-fixed: 216 226 255;
    --md-sys-color-on-tertiary-fixed: 0 26 65;
    --md-sys-color-tertiary-fixed-dim: 173 199 255;
    --md-sys-color-on-tertiary-fixed-variant: 0 68 147;
    --md-sys-color-surface-dim: 220 217 219;
    --md-sys-color-surface-bright: 251 248 250;
    --md-sys-color-surface-container-lowest: 255 255 255;
    --md-sys-color-surface-container-low: 245 243 244;
    --md-sys-color-surface-container: 240 237 239;
    --md-sys-color-surface-container-high: 234 231 233;
    --md-sys-color-surface-container-highest: 228 226 227;
  }

  /* Dark theme variables */
  .dark {
    --md-sys-color-primary: 188 199 222;
    --md-sys-color-surface-tint: 188 199 222;
    --md-sys-color-on-primary: 38 49 67;
    --md-sys-color-primary-container: 30 41 59;
    --md-sys-color-on-primary-container: 133 144 166;
    --md-sys-color-secondary: 185 200 222;
    --md-sys-color-on-secondary: 35 49 67;
    --md-sys-color-secondary-container: 148 163 184;
    --md-sys-color-on-secondary-container: 43 57 75;
    --md-sys-color-tertiary: 173 199 255;
    --md-sys-color-on-tertiary: 0 46 104;
    --md-sys-color-tertiary-container: 74 142 255;
    --md-sys-color-on-tertiary-container: 0 31 73;
    --md-sys-color-error: 255 180 171;
    --md-sys-color-on-error: 105 0 5;
    --md-sys-color-error-container: 147 0 10;
    --md-sys-color-on-error-container: 255 218 214;
    --md-sys-color-background: 19 19 21;
    --md-sys-color-on-background: 228 226 227;
    --md-sys-color-surface: 19 19 21;
    --md-sys-color-on-surface: 228 226 227;
    --md-sys-color-surface-variant: 69 71 76;
    --md-sys-color-on-surface-variant: 197 198 205;
    --md-sys-color-outline: 143 144 151;
    --md-sys-color-outline-variant: 69 71 76;
    --md-sys-color-shadow: 0 0 0;
    --md-sys-color-scrim: 0 0 0;
    --md-sys-color-inverse-surface: 228 226 227;
    --md-sys-color-inverse-on-surface: 48 48 50;
    --md-sys-color-inverse-primary: 84 95 115;
    --md-sys-color-primary-fixed: 216 227 251;
    --md-sys-color-on-primary-fixed: 17 28 45;
    --md-sys-color-primary-fixed-dim: 188 199 222;
    --md-sys-color-on-primary-fixed-variant: 60 71 90;
    --md-sys-color-secondary-fixed: 212 228 250;
    --md-sys-color-on-secondary-fixed: 13 28 45;
    --md-sys-color-secondary-fixed-dim: 185 200 222;
    --md-sys-color-on-secondary-fixed-variant: 57 72 90;
    --md-sys-color-tertiary-fixed: 216 226 255;
    --md-sys-color-on-tertiary-fixed: 0 26 65;
    --md-sys-color-tertiary-fixed-dim: 173 199 255;
    --md-sys-color-on-tertiary-fixed-variant: 0 68 147;
    --md-sys-color-surface-dim: 19 19 21;
    --md-sys-color-surface-bright: 57 57 58;
    --md-sys-color-surface-container-lowest: 14 14 15;
    --md-sys-color-surface-container-low: 27 27 29;
    --md-sys-color-surface-container: 31 31 33;
    --md-sys-color-surface-container-high: 42 42 43;
    --md-sys-color-surface-container-highest: 53 53 54;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #434343,
      #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(-90deg,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%);
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #f12711,
      #f5af19);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #f12711,
      #f5af19);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #ec008c,
      #fc6767);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #ec008c,
      #fc6767);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

section {
  min-height: 300px;
}

.main-content {
  margin-top: 76px;
  height: calc(100vh - 76px);
}